:root {
    /* SETTINGS */
    --bg-color: #3c3e3e;
    --counter-height: 500px;
    --counter-width: 100px;
    /* TODO: 100, 50 */
    --miss-bg: #ba5267;
}

.counter {
    /* Change these values in :root */
    background-color: var(--bg-color);
    height: var(--counter-height);
    width: var(--counter-width);
    /* DO NOT TOUCH */
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;

}